<p>
  stone-calculater works!
</p>

<div>
  <div>Create the map</div>
  <mat-form-field>
    <input matInput placeholder="Height in cm">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Width in cm">
  </mat-form-field>

  <button mat-button>Create</button>

</div>

<div>
  <div>Create a and add stone type</div>
  <mat-form-field>
    <input matInput placeholder="Height in cm">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Width in cm">
  </mat-form-field>

  <button mat-button>Create</button>
</div>

<div>
  <div>Create an area</div>
  <mat-form-field>
    <input matInput placeholder="Height in cm">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Width in cm">
  </mat-form-field>

  <button mat-button>Create</button>
</div>
<!-- Multiply the stone type -->



<div>
  <div>Calculate area stones</div>
  <mat-form-field>
    <input matInput placeholder="Height in cm">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Width in cm">
  </mat-form-field>

  <button mat-button>Calculate</button>
</div>



<div>
    <div>pick a stone and multiply it</div>
    <button mat-button>Done</button>
  </div>
<div>Chosen stones</div>
<div></div>