.contact-card {
    max-width: 300px;
    margin-left:15px;
    margin-top:5px;
}


.item-value-email{
    margin-left:auto;
}

.item-value-phone{
    margin-left:2px;
}


.small-header-image {

    background-size: cover;
  }



