<mat-card class="contact-card">
  <mat-card-header>
    <img src="/assets/image/ap.PNG" alt="image" mat-card-avatar class="small-header-image">
    <mat-card-title>Anders Munkholm</mat-card-title>
    <mat-card-subtitle>Software developer</mat-card-subtitle>
  </mat-card-header>
   <img mat-card-image src="/assets/image/Udklip2.jpg"  class="contact-photo" alt="Photo of Anders"> 
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">Email:<div class="item-value-email">{{email}}</div></mat-list-item>
      <mat-list-item role="listitem">Phone:<div class="item-value-phone">{{phone}}</div></mat-list-item>
      <mat-list-item role="listitem">Linkedin:<a mat-button color="warn" class="item-value-linkedin" (click)="navigateLinkedin()" >
         Profile</a>
      </mat-list-item>
      <mat-list-item role="listitem">Git:<a mat-button color="warn" class="item-value-linkedin" (click)="navigateBitbucket()" >
          Bitbucket</a>
       </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

