.background-top{
    height:500px;
   
}
.container{

    text-align: center;
    margin: auto;
    white-space: normal
}
.checkout{
    padding-top: 40px;
}

div.excerpt p {
    word-wrap: break-word;
}
