<mat-toolbar class="background-top" color="primary">
  <div class="container">
    <div>
      This website is under development.
    </div>
    <div>I'm currently employed at Aarhus kommune and using my sparetime on a system for Molekylær Medicinsk Forskningsenhed. </div>
    <div>The website will be updated slowly due to that.</div>
    <div>If you find a security hole, Please contact me at AndersMunkholm@outlook.dk</div>
    <div class="checkout">
      Check out <button mat-raised-button color="" (click)="goToPlans()">plans and goals</button> if you want to see what's happening
    </div>
  </div>
</mat-toolbar>



