<div class="login-options">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Login options</h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="login-navigation">
              <div id="my-signin2"></div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="login-navigation">
            Login TBI
          </div>
        </mat-list-item>

      </mat-list>

    </mat-card-content>
  </mat-card>
</div>
 

