<mat-accordion>
    <div class="container">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Data and statistics
              </mat-panel-title>
              <mat-panel-description>
                How we use your data and ours
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- content -->
           <div>We create statistics: How long time to serve, number of requests. To see the health of the website. It's based on time and date. </div>
           <mat-divider></mat-divider>
           <div>We get your username from google, the username is not saved it's volatile. Which means it disappears after you exit the website. </div>
           <mat-divider></mat-divider>
           <div>We give you a service worker that stored all of the websites static content on your computer. This is in order to 
             load the website incredibly fast and enable the website to be visited even when you have no internet connection.
             <button (click)="navigateServiceWorker()" mat-button color="warn">Click here to learn more about service workers</button>
           </div>
          </mat-expansion-panel>
    </div>
  </mat-accordion>
  