<mat-accordion>
  <div class="container">
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cookies used
            </mat-panel-title>
            <mat-panel-description>
              List of cookies and description
            </mat-panel-description>
          </mat-expansion-panel-header>
        
          <div class="table-container">
          <table mat-table [dataSource]="cookies" class="mat-elevation-z8">
              
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td class="name" mat-cell *matCellDef="let cookie"> {{cookie.name}} </td>
              </ng-container>
            
           
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td class="description" mat-cell *matCellDef="let cookie"> {{cookie.description}} : From {{cookie.origin}} </td>
              </ng-container>

              <ng-container matColumnDef="origin">
                  <th mat-header-cell *matHeaderCellDef> Origin </th>
                  <td mat-cell *matCellDef="let cookie"> {{cookie.origin}} </td>
                </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            </table>
          </div>
        </mat-expansion-panel>
  </div>
</mat-accordion>
