.container{
    max-width: 600px;
 
}

.description {
    margin-left: 0px;
    padding-right: 0px;

    
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }

  .name{
      
      padding-left: 2px;
      padding-right:0px;
  }


  /* iphone 6,7,8 and galacy 5s + */
@media only screen and (max-width: 540px) { 
    :host ::ng-deep .mat-expansion-panel-body {
        padding: 0px 0px 0px 0px; 
    }

    td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child{
        padding-right:2px;
    }    
}
/* For very small phones */
@media only screen and (max-width: 320px) { 
    :host ::ng-deep .mat-expansion-panel-body {
        padding: 0px 0px 0px 0px; 
        margin:0,0,0,0;
    }

    td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child{
        padding-left: 2px; 
        
    }    
} 

