.header-icon {
    padding: 0 14px;
}

.header-icon:hover{
    color:grey;
    cursor: pointer;
}
  
.header-spacer {
    flex: 1 1 auto;
}

.header-row{
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 58px;
    box-shadow: 0px 1px 5px 0px black;
}


.mat-toolbar-multiple-rows{
    min-height: 58px;
}

.header-button{
    
    /* font-size: 18px; */
   
}


.header-title{
    font-size: 18px;
}


@media only screen and (max-width: 570px) {
    .header-row {
        height: 100px;
    }

    .mat-toolbar-row, .mat-toolbar-single-row {
        padding:0;
    }
    .mobile-spacer{
        flex: 1 1 auto;
        width: 50px;
    }

    

}


@media only screen and (max-width: 320px) {
    .header-row {
        height: 100px;
    }

    .mat-toolbar-row, .mat-toolbar-single-row {
        padding:0;
    }
    .mobile-spacer{
        flex: 1 1 auto;
        width: 0px;
    }

    

}

@media only screen and (max-width: 568px) and (max-height: 320px) {
    .header-row {
        height: 100px;
    }

    .mat-toolbar-row, .mat-toolbar-single-row {
        padding:0;
    }
    .mobile-spacer{
        flex: 1 1 auto;
        width: 0px;
    }

    

}









