<mat-toolbar color="primary" class="header-container">
  <mat-toolbar-row class="header-row">
    <button mat-button class="header-title" (click)="goToHome()">Simple Website</button>
    <span class="mobile-spacer"></span>
    <button (click)="goToPlans()" class="header-button" mat-button>Plans and Goals</button>
    <button *ngIf="loggedIn"(click)="goToAuth()" class="header-button" mat-button>Auth content</button>
    <button (click)="goToContact()" class="header-button" mat-button>Contact</button>
    <span class="header-spacer"></span>
    
    <app-menu></app-menu>
   
    <button *ngIf="!loggedIn"  (click)="goToLogin()" class="header-button" mat-button>Login</button>

  </mat-toolbar-row>
</mat-toolbar>