

<mat-card class="container">
    <div>
        <div>{{message}}</div>
        <button mat-button color="primary" (click)="accept()">Accept</button>
        <button mat-button color="warn" (click)="readMore()">Learn more</button>
      </div>
</mat-card>
