<div class="container">

  <span class="Heading">Current Plans for the website</span>
  <div class="plans">
    <mat-card *ngFor="let plan of plans; index as i" class="card">
      <mat-card-header>
        <mat-card-title>{{plan.name}}</mat-card-title>
        <mat-card-subtitle>Plan {{i+1}}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item *ngFor="let goal of plan.goals;index as j" role="listitem">
            {{ j + 1 + " " + goal.goal}}
            <span class="goal-status-filler"></span>
            <mat-checkbox  class="goal-completed"
            [checked]="goal.completed"
            [disabled]="true"></mat-checkbox>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>