.card{
    width: 300px;
    margin-top: 10px;
    
}

.goal-completed{
    margin-top: 0px;
}

.plans{
   display: flex;
   -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
   
}

.container{
    margin-left: 15px;
}

.Heading{
    font-size: 24px;
}

.goal-status-filler{
    flex: 1 1 auto;
}