<button  mat-button [matMenuTriggerFor]="menu" class="menu-item">{{username}}</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Profile TBI</button>
  <button (click)="logout()" mat-menu-item>Logout</button>
</mat-menu>
